html {
    background-color: rgb(142, 252, 142);
}

img {
    color: rgb(243, 243, 235);
    width: 8%;
}

.menu {
    background-image: url("tree.jpg");
    max-width: 70%;
    margin-left: 15%;
}

h1,
p {
    text-align: center;
    color: rgb(243, 243, 235);
    margin-left: 3%;
}

h1 {
    font-size: 300%;
}

#coffee {
    text-align: left;
    margin-left: 20%;
    margin-bottom: 3%;
    font-size: x-large;
}


#price {
    text-align: right;
    margin-top: -8%;
    margin-right: 20%;
    font-size: x-large;
}