html {
    background-color:rgb(115, 243, 3);
}

img {
    color: rgb(243, 243, 235);
    width: 7%;
    margin-left: 47%; 
}

.menu {
    background-image: url("tree.jpg");
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    padding-bottom: 3%;
    border-radius: 500%;
}

h1, p {
    text-align: center;
    font-family: papyrus;
    color: white;
    margin-left: 1%;
}

h1 {
    font-size: 200%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#coffee {
    text-align: left;
    margin-left: 20%;
    margin-bottom: 3%;
    font-size: 200%;
}

#price {
    text-align: right;
    margin-top: -8%;
    margin-right: 20%;
    font-size: 250%;
}