html {
    background-color:rgb(115, 243, 3);
}

img {
    color: rgb(243, 243, 235);
    width: 5%;  
}

.menu {
    background-image: url("tree.jpg");
    max-width: 70%;
    margin-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
}

h1,
p {
    text-align: center;
    color: rgb(243, 243, 235);
    margin-left: 3%;
}

h1 {
    font-size: 300%;
    margin-top: 10px;
}

#coffee {
    text-align: left;
    margin-left: 20%;
    margin-bottom: 3%;
    font-size: x-large;
}


#price {
    text-align: right;
    margin-top: -8%;
    margin-right: 20%;
    font-size: x-large;
}